<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etsong.personality.mapper.PersonalityAnswerMapper">


    <!-- 批量插入 -->
    <insert id="saveAll" parameterType="java.util.List">
        INSERT INTO  personality_answers
        (record_id, option_id)
        VALUES
        <foreach collection="list" item="answer" separator=",">
            (#{answer.recordId}, #{answer.optionId})
        </foreach>
    </insert>
</mapper>
