<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etsong.personality.mapper.PersonalityResultMapper">

    <resultMap id="PersonalityResultsMap" type="com.etsong.personality.domain.PersonalityResults">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="type_s_score" property="typeSScore"/>
        <result column="type_m_score" property="typeMScore"/>
        <result column="type_c_score" property="typeCScore"/>
        <result column="type_p_score" property="typePScore"/>
        <result column="test_date" property="testDate"/>
    </resultMap>

    <select id="getLatestResult" resultMap="PersonalityResultsMap">
        SELECT *
        FROM personality_results
        WHERE user_id = #{userId}
        ORDER BY test_date DESC
            LIMIT 1
    </select>



    <insert id="save" parameterType="PersonalityResults" useGeneratedKeys="true" keyProperty="resultId">
        INSERT INTO personality_results
        (user_id, test_date, type_s_score, type_m_score, type_c_score, type_p_score)
        VALUES
            (#{userId}, #{testDate}, #{typeSScore}, #{typeMScore}, #{typeCScore}, #{typePScore})
    </insert>
</mapper>
