<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etsong.questions.mapper.TopicAnswerMapper">
    <!-- 插入题目作答记录 -->
    <insert id="insertTopicAnswer" parameterType="com.etsong.questions.domain.TopicAnswer">
        INSERT INTO topic_answer (record_id, topic_id, score)
        VALUES (#{recordId}, #{topicId}, #{score});
        <selectKey keyProperty="id" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>
</mapper>